
.container-fluid {
  height: 100vh; 
  background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url('source/img/2.jpg');
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
  display: flex; 
  justify-content: center; 
  align-items: center; 
}

.text_box h1{
  color: white;
  font-weight: bolder;
  margin-bottom: 36px;
}

.text_box .btn{
  padding: 10px 20px;
  background-color: transparent;
  color: #fff;
  border-color: #fff;
}

.text_box .btn:hover {
  background-color: transparent;
  color:  #fff;
  border: none;
  box-shadow: 0 0 5px 5px #dfdcdc;
}

.text_box .btn-primary.active.focus,.btn-primary.active:focus,.btn-primary.active:hover,.btn-primary:active.focus,.btn-primary:active:focus,.btn-primary:active:hover,.open>.dropdown-toggle.btn-primary.focus,.open>.dropdown-toggle.btn-primary:focus,.open>.dropdown-toggle.btn-primary:hover {
  color:#fff;
  background-color:transparent;
  border:none;
}

.event .btn{
  padding: 10px 20px;
}

.modal-footer {
  display: flex;
  justify-content: center;
}

label{
  margin-top: 10px;
  margin-bottom: 10px;
}

.modal-footer .btn{
  padding: 10px 20px;
}

.event p{
  font-size: 18px;
}

.gift-container {
  display: grid;
  grid-template-columns: repeat(4, 1fr); 
  grid-gap: 30px; 
}

.wishlist-item {
  padding: 10px;
  border: 3px solid #ddd;
  margin-bottom: 10px;
  border-radius: 5px;
}

.wishlist-item img {
  width: 100%; 
  height: 150px; 
  object-fit: cover; 
  border-radius: 5px; 
}

.wishlist-item h3, .wishlist-item h5 {
  margin: 5px 0;
  text-align: center;
  padding: 5px 0;
}

.wishlist-item .bt {
  background-color: transparent;
  border: none;
  padding: 5px 10px;
  margin-right: 5px;
  cursor: pointer;
}
.wishlist-item .btn {
  
  float:right;
}

@media (max-width: 1300px) {
  .gift-container {
    grid-template-columns: repeat(3, 1fr); 
  }
} 

@media (max-width: 900px) {
  .gift-container {
    grid-template-columns: repeat(2, 1fr); 
  }
}

@media (max-width: 600px) {
  .gift-container {
    grid-template-columns: repeat(1, 1fr); 
  }
}

.clear {  
  clear: both;
}

.margin-8 {
  margin-top: 3%;
}